<h2>Login</h2>
<form class="login-form">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Log In</button>
</form>

<p>Don't have an account? <a href="/signup">Sign up here</a>.</p>

<!-- Link to the login.js script -->
<script src="/js/login.js"></script>
